$headlineColor: white;
$headerCellBackColor: darkviolet;
$headerCellForeColor: white;
$cellFocus: indigo;
$bgColor: #222;
$fgColor: white;
$detailViewBackColor: steelblue;

* {
	box-sizing: border-box;
}

body { 
	background: $bgColor;
	color: $fgColor;
	font-family: sans-serif;
	margin: 0;
}

@mixin fit {
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
}

h1, h2 {
	margin: 0;
	color: $headlineColor;
}

body > div {
	@include fit;
	padding: 16px;
	overflow: auto;
}

button.bugs-add {
	z-index: 2;
	font-weight: 100;
	position: absolute;
	right: 2vw; 
	bottom: 2vh;
	border-radius: 50%;
	font-size: 32px;
	line-height: 32px;
	color: #fff;
	background-color: #f00;
	box-shadow: 2px 2px 10px 0 #000;
	border: none;
	cursor: pointer;
	outline: none;

	&:hover {
		background: rgba(255,200,200,0.9);
		box-shadow: 3px 3px 14px 0 #000;
	}

	&:active {
		background: #a00;
		box-shadow: 1px 1px 8px 0 #111;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-weight: normal;
	text-align: left;
	background: $headerCellBackColor;
	color: $headerCellForeColor;
}

td, th {
	border: 1px solid $headerCellBackColor;
	a {
		text-decoration: none;
		color: $fgColor;
	}
}

th, td { 
	padding: 8px;
}

.bugs-list {
	position: absolute;
	top: 0;
	left: 64px;
	right: 0;
	height: 67vh;
	overflow-x: none;
	overflow-y: auto;
}

.bugs-detail {
	background: $bgColor;
	z-index: 1;
	position: absolute;
	height: 33vh;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
	//border-top: 1px solid $headerCellBackColor2;
	background: $detailViewBackColor; 
	overflow-x: none;
	overflow-y: auto;

	td,th {
		background: $detailViewBackColor;
		border-color: $bgColor;
	}
}

.bugs-menu {
	background: #333;
	color: #ccc;
	overflow-wrap: break-word;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 64px;
	height: 100vh;
	margin: 0;
	
	ul {
		list-style: none;
		margin: 32px 0;
				
		li {
			padding: 1px 0; 
			width: 64px;
			text-align: center;

		}
		a {
			background: #444;
			text-decoration: none;
			width: 64px;
			height: 64px;			
			display: block;
		}
	}
}

.bugs-list tr {
	cursor: pointer;
}
tr.selected {
	background: $cellFocus; 
}

nav {
	margin: 18px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.button {
	text-decoration: none;
	padding: 8px;
	border-radius: 3px;
	background-color: #efe;
	color: #000;
}

td > input,
td > textarea {
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	border: none;
	outline: 0;
	background: $detailViewBackColor;
	color: $fgColor;
	&:focus {
		box-shadow: 0 0 4px 0 $cellFocus;
	}
}

td > textarea {
	height: auto;
}


@media screen and (min-width: 1600px) {
	body > div {
			margin: 0;
			overflow: hidden;
	}
}