$headlineColor: mintcream;
$headerCellBackColor: mediumseagreen;
$headerCellBackColor2: seagreen;
$headerCellForeColor: white;
$cellFocus: #700;
$cellFocus2: #533;
$bgColor: #333;
$fgColor: white;



* {
	box-sizing: border-box;
}

body { 
	background: $bgColor;
	color: $fgColor;
	font-family: sans-serif;
	margin: 0;
}

@mixin fit {
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
}

h1, h2 {
	font-style: italic;
	color: $headlineColor;
}

body > div {
	@include fit;
	padding: 16px;
	overflow: auto;
}

button.bugs-add {
	font-weight: 100;
	position: absolute;
	right: 16px; 
	top: 32px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	background-color: #f00;
	box-shadow: 2px 2px 10px 0 #700;
	border: none;
	cursor: pointer;
	outline: none;

	&:hover {
		background: #faa;
		box-shadow: 3px 3px 12px 0 #600;
	}

	&:active {
		background: #d55;
		box-shadow: 1px 1px 8px 0 #900;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-weight: normal;
	text-align: left;
	background: $headerCellBackColor;
	background: linear-gradient(0deg, $headerCellBackColor, $headerCellBackColor2);
	color: $headerCellForeColor;
}

td, th {
	border: 1px solid $headerCellBackColor;
}

th, td { 
	padding: 8px;
}

.bugs-list tr {
	cursor: pointer;
}
tr.selected {
	background: $cellFocus; 
	background: linear-gradient(0deg, $cellFocus2, $cellFocus);
}

nav {
	margin: 18px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.button {
	text-decoration: none;
	padding: 8px;
	border-radius: 3px;
	background-color: #efe;
	color: #000;
}

td > input,
td > textarea {
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	border: none;
	outline: 0;
	background: $bgColor;
	color: $fgColor;
	&:focus {
		box-shadow: 0 0 4px 0 $cellFocus;
	}
}


@media screen and (min-width: 1600px) {
	body > div {
			margin: 0 100px;
	}
}

